:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #222222;
  background-color: #f3f2ef;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f2ef;
}

a {
  font-weight: 500;
  color: #c5050c;
  text-decoration: none;
}

a:hover {
  color: #9b0407;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
}